<h2 class="center">Cover's Song</h2>

<div class="row center"> <a class="button button-primary" [routerLink]="['/proposals']"><h5>Propose a new cover song! Click Here!</h5></a>
</div>

<div *ngIf="!songs" class="row">
  <p>Loading ...</p>
</div>

<div *ngIf="songs" class="row">
  <table class="u-full-width">
    <thead>
      <tr>
        <th>Title</th>
        <th>Artist</th>
        <th class="center">Approved</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <tr *ngFor="let song of songs">
          <td>{{song.title}}</td>
          <td>{{song.artist.name}}</td>
          <td class="center">&#x2714;</td>
        </tr>
    </tbody>
  </table>
</div>
