<h2 class="center">Proposal's Songs</h2>

<div *ngIf="!newArtist" class="row center">

  <div *ngIf="!artists" class="row">
    <p>Loading ...</p>
  </div>

  <div *ngIf="artists" class="row">
      <select *ngIf="artists" (change)="onChangeArtist($event.target.value)">"
        <option value="0">Select exists artist</option>
        <option *ngFor="let artist of artists" [value]="artist.id">{{ artist.name }}</option>
      </select>
      <strong>OR</strong>
      <button (click)="showNewArtist()">Add New Artist</button>
  </div>

</div>

<div *ngIf="newArtist" class="row center">
  <input #artistName type="text" placeholder="Artist Name">
  <button (click)="addArtist(artistName.value)">Add New</button>
</div>

<!-- New Song -->

<div *ngIf="selectedArtist" class="row center">
  <input placeholder="Proposal Song" type="text" #songName />
  <button (click)="addSong(songName.value); songName.value=''">Add Song</button>
</div>

<!-- Song List -->

<div *ngIf="!songs" class="row center">
  <p>Loading ...</p>
</div>

<div *ngIf="songs" class="row">
  <table class="u-full-width">
    <thead>
      <tr>
        <th>Title</th>
        <th>Artist</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let song of songs">
        <td>{{song.title}}</td>
        <td>{{song.artist.name}}</td>
      </tr>
    </tbody>
  </table>
</div>
